* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: white;
}

.app {
  background-color: white;
  padding: 5%;
}

.app>h1 {
  text-align: center;
  color: #333333;
  font-size: 40px;
  font-weight: 600;
}

.app_nav {
  width: 60%;
  margin: 5% auto 0 auto;
  padding: 0 70px 0 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #DEDEDE;
}

.app_nav>h2 {
  color: #333333;
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-bottom: 4px solid white;
  cursor: pointer;
}

.app_search {
  width: 60%;
  margin: 3% auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app_search>input {
  width: 80%;
  background: white;
  border: 2px solid #D8D8D8;
  outline: none;
  border-radius: 15px;
  padding: 10px 20px;
  color: black;
  font-size: 14px;
  font-weight: 500;
}

.app_search>input::placeholder {
  color: #D8D8D8;
}

.app_search>button {
  color: white;
  background-color: #2F80ED;
  border: 2px solid #2F80ED;
  border-radius: 15px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.app_list {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  margin-top: 4%;
}

.app_list>h2 {
  color: #1F1F1F;
  font-size: 16px;
  font-weight: 600;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.app_list>h2>span {
  word-break: break-all;
}

.app_list>h2>input {
  cursor: pointer;
}

.app_list>h2>img {
  width: 20px;
  cursor: pointer;
}

.delete_all {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 3% auto 0 auto;
}

.delete_all>button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px 20px;
  background-color: #EB5757;
  border: 2px solid #EB5757;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

.delete_all>button>svg {
  color: white;
  font-size: 20px;
}


/* Design for <= 600px devices */
@media screen and (max-width:600px) {

  .app {
    padding: 10% 5%;
  }

  .app_nav {
    width: -webkit-fill-available;
    padding: 0;
    margin: 10% auto 0 auto;
  }

  .app_nav>h2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .app_search {
    width: -webkit-fill-available;
    margin: 10% auto 0 auto;
  }


  .app_search>input {
    width: 60%;
  }

  .app_list {
    width: -webkit-fill-available;
    margin-top: 10%;
  }

  .delete_all {
    width: -webkit-fill-available;
    margin: 5% auto 0 auto;
  }

}


/* Design for 601-800px devices */
@media screen and (min-width:601px) and (max-width:1100px) {



  .app_nav {
    width: -webkit-fill-available;
    padding: 0;
    margin: 5% auto 0 auto;
    padding: 0 50px 0 50px;
  }

  .app_nav>h2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .app_search {
    width: -webkit-fill-available;
    margin: 5% auto 0 auto;
  }


  .app_search>input {
    width: 70%;
  }

  .app_list {
    width: -webkit-fill-available;
    margin-top: 7%;
  }

  .delete_all {
    width: -webkit-fill-available;
    margin: 5% auto 0 auto;
  }

}
